.menuWrapper {
  background-color: #343a40;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}
.linkWrapper {
  padding: 8px 0;
  width: 15%;
  text-align: center;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: right;
  }
}
.linkStyles {
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.3s;
  letter-spacing: 1.1px;
  font-weight: 500;
  color: #fff;
  &:hover {
    color: lighten(blue, 25);
    text-decoration: none;
   }
   &:active {
      letter-spacing: normal;
  }
}
.active {
  color: #dc3545;
  &:hover {
   color:#dc3545;
 }
  
}
.heightAuto {
  height: auto;
}
.navbarStyles {
  padding: 0;
}
