*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
::placeholder {
}

:-ms-input-placeholder {
}

::-ms-input-placeholder {
}
input:focus,
button:focus,
input,
button {
  outline: none;
}

label {
  position: relative;
  &::before,
  &::after {
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

table,
th,
td {
  border-collapse: collapse;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  height: 100vh;
}

.heading-styles {
   color: $text-heading-color;
   font-weight: 700;
}

.heading-1 {
   @extend .heading-styles;
   font-size: $h1-mobile;
   @include xs(font-size, $h1-tablet);
   @include sm(font-size, $h1-desktop);
}

.heading-2 {
   @extend .heading-styles;
   font-size: $h2-mobile;
   @include xs(font-size, $h2-tablet);
   @include sm(font-size, $h2-desktop);
}
.heading-3 {
   @extend .heading-styles;
   font-size: $h3-mobile;
   @include xs(font-size, $h3-tablet);
   @include sm(font-size, $h3-desktop);
}
.heading-4 {
   @extend .heading-styles;
   font-size: $h4-mobile;
   @include xs(font-size, $h4-tablet);
   @include sm(font-size, $h4-desktop);
}
.heading-5 {
   @extend .heading-styles;
   font-size: $h5-mobile;
   @include xs(font-size, $h5-tablet);
   @include sm(font-size, $h5-desktop);
}
.heading-6 {
   @extend .heading-styles;
   font-size: $h6-mobile;
   @include xs(font-size, $h6-tablet);
   @include sm(font-size, $h6-desktop);
}

// ---- Subtitle Styles

.subtitle-big {
   font-size: $text-subtitle-big;
   color: $text-heading-color;
   font-weight: 700;
}
.subtitle-small {
   font-size: $text-subtitle-small;
   color: $text-heading-color;
   font-weight: 700;
}

// ---- Text Styles

.text-big {
   font-size: $text-big;
   color: $text-color-middle;
}
.text-main {
   font-size: $text-main;
   color: $text-color-middle;
}
.text-small {
   font-size: $text-small;
   color: $text-color-middle;
}


.container {
  padding: 0 20px;
  max-width: $maxWidth;
  margin: 0 auto;
  height: calc(100vh - 40px);
}

.content{
   padding-top: 40px;
   min-height: calc(100vh - 90px);
}

.container{
   height: auto;
}
